@font-face {
  font-family: 'plugnmeet';
  src: url('../assets/fonts/plugnmeet.ttf') format('truetype');
  src: url('../assets/fonts/plugnmeet.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  src: url('../assets/fonts/InterVariable.woff2') format('woff2');
}

@font-face {
  font-family: 'Inter';
  font-style: italic;
  src: url('../assets/fonts/InterVariable-Italic.woff2') format('woff2');
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'plugnmeet' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.pnm-timeline-solid:before {
  content: '\e934';
}

.pnm-check:before {
  content: '\e932';
}

.pnm-updown:before {
  content: '\e933';
}

.pnm-closed-captioning:before {
  content: '\e931';
}

.pnm-pip:before {
  content: '\e930';
}

.pnm-cross:before {
  content: '\e92f';
}

.pnm-emoji:before {
  content: '\e92e';
}

.pnm-pin:before {
  content: '\e92d';
}

.pnm-moon:before {
  content: '\e92b';
}

.pnm-sun:before {
  content: '\e92c';
}

.pnm-display:before {
  content: '\e92a';
}

.pnm-blank-img:before {
  content: '\e929';
}

.pnm-breakout-room:before {
  content: '\e928';
}

.pnm-delete:before {
  content: '\e927';
}

.pnm-poll:before {
  content: '\e925';
}

.pnm-waiting-room:before {
  content: '\e926';
}

.pnm-menu-small:before {
  content: '\e900';
}

.pnm-attachment:before {
  content: '\e901';
}

.pnm-webcam:before {
  content: '\e902';
}

.pnm-settings:before {
  content: '\e903';
}

.pnm-send:before {
  content: '\e904';
}

.pnm-screen-share:before {
  content: '\e905';
}

.pnm-raise-hand:before {
  content: '\e906';
}

.pnm-participant:before {
  content: '\e907';
}

.pnm-arrow-below:before {
  content: '\e908';
}

.pnm-mic-mute:before {
  content: '\e909';
}

.pnm-lock:before {
  content: '\e90a';
}

.pnm-mic-unmute:before {
  content: '\e90b';
}

.pnm-menu-horizontal:before {
  content: '\e90c';
}

.pnm-call:before {
  content: '\e90d';
}

.pnm-chat:before {
  content: '\e90e';
}

.pnm-listen-only:before {
  content: '\e90f';
}

.pnm-network:before {
  content: '\e910';
}

.pnm-fullscreen:before {
  content: '\e911';
}

.pnm-arrow-down:before {
  content: '\e912';
}

.pnm-arrow-up:before {
  content: '\e913';
}

.pnm-logout:before {
  content: '\e914';
}

.pnm-rec:before {
  content: '\e915';
}

.pnm-broadcasting:before {
  content: '\e916';
}

.pnm-blur:before {
  content: '\e917';
}

.pnm-ban-solid:before {
  content: '\e918';
}

.pnm-notepad:before {
  content: '\e919';
}

.pnm-journal:before {
  content: '\e91a';
}

.pnm-whiteboard:before {
  content: '\e91b';
}

.pnm-download:before {
  content: '\e91c';
}

.pnm-keyboard:before {
  content: '\e91d';
}

.pnm-eye-slash:before {
  content: '\e91e';
}

.pnm-arrow-left-short:before {
  content: '\e91f';
}

.pnm-arrow-right-short:before {
  content: '\e920';
}

.pnm-file-play:before {
  content: '\e921';
}

.pnm-presenter:before {
  content: '\e922';
}

.pnm-speaker:before {
  content: '\e923';
}

.pnm-speaker-muted:before {
  content: '\e924';
}
