@theme {
    --shadow-footer: 0 -4px 52px rgba(0, 0, 0, 0.15);
    --shadow-header: 0 4px 52px rgba(0, 0, 0, 0.15);
    --shadow-panel: 0 0 10px -7px rgb(0, 0, 0);
    --shadow-box1: 0px 16px 34px 0px #002b4008;
    --shadow-box2: 0px 62px 62px 0px #002b4008;
    --shadow-box3: 0px 140px 84px 0px #002b4005;
    --shadow-box4: 0px 250px 100px 0px #002b4000;
    --shadow-box5: 0px 390px 109px 0px #002b4000;
    --shadow-Icon-box: 0px 1px 2px 0px #002b400d;
    --shadow-shadow-xS: 0px 1px 2px 0px rgba(26, 84, 142, 0.05);
    --shadow-button-shadow: 0px 2px 2px 0px rgba(255, 255, 255, 0.3) inset;
    --shadow-virtual-pOP: 0px 32px 64px -12px rgba(0, 43, 64, 0.14);
    --shadow-virtual-item: 0px 24px 9px 0px rgba(12, 19, 26, 0.01);
    --shadow-dropdown-menu: 0px 12px 16px -4px rgba(0, 43, 64, 0.08);
    --shadow-input: 0px 1px 2px 0px rgba(0, 43, 64, 0.05);
    --shadow-input-focus: 0px 0px 0px 4px rgba(124, 206, 247, 0.25);
    --shadow-video-name: 0px 1px 4px 0px rgba(0, 0, 0, 0.25);

    --color-primary-color: #004d90;
    --color-secondary-color: #24aef7;
    --color-brand-red: #ed2139;
    --color-dark-primary: #01102b;
    --color-dark-secondary: #001222;
    --color-dark-secondary2: #0b2d65;
    --color-dark-secondary3: #031a3e;
    --color-dark-text: #a7cced;
    --color-Blue: #00a1f2;
    --color-Dark-blue: #069;

    --color-Gray-25: #fafcff;
    --color-Gray-50: #f0f6fc;
    --color-Gray-100: #e1edfa;
    --color-Gray-200: #d3e5f7;
    --color-Gray-300: #c2daf2;
    --color-Gray-500: rgba(143, 173, 204, 1);
    --color-Gray-600: #7493b2;
    --color-Gray-700: #4d6680;
    --color-Gray-800: #233240;
    --color-Gray-900: #131d26;
    --color-Gray-950: #0c131a;

    --color-Red-25: #fffafa;
    --color-Red-50: #fcf0f0;
    --color-Red-100: rgba(250, 225, 225, 1);
    --color-Red-200: #f7baba;
    --color-Red-400: #fa3232;
    --color-Red-600: #cc0000;
    --color-Red-700: #900;

    --color-Blue2-50: #f0f8fc;
    --color-Blue2-500: #00a1f2;
    --color-Blue2-600: #08c;
    --color-Blue2-700: #069;

    --radius-tlbl-d: 0 0 20px 20px;
    --radius-trbr-d: 20px 20px 0 0;
    --radius-MSG: 0 15px 15px;
    --radius-MSGME: 15px 0 15px 15px;

    --breakpoint-3xl: 1640px;
}
