@use 'variables';
@use 'plugnmeet-fonts';
@use 'tailwindcss/base';
@use 'tailwindcss/components';
@use 'tailwindcss/utilities';

@use 'common';
@use 'keyframes-animation';
@use 'dark-mode';
@use 'recorder';

// Media screens
@use 'media_screens/min_1024';
@use 'media_screens/max_w_980_max_h_450';
@use 'media_screens/max_h_720';
@use 'media_screens/max_1279';
@use 'media_screens/max_1023';
@use 'media_screens/max_767';
@use 'media_screens/min_641';
@use 'media_screens/max_640';
@use 'media_screens/max_575';
@use 'media_screens/max_370';
@use 'media_screens/min_1800';
@use 'media_screens/max_1025';
@use 'media_screens/min_641_max_1025';
