@import "plugnmeet-fonts.scss";

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
    margin: 0;
    font-family: 'Nunito Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@keyframes refresh {
    0% {
        opacity: 1
    }
    100% {
        opacity: 0.5
    }
}

.hiddenAnimation {
    animation: refresh .5s infinite;
}

.primaryColor {
    color: #004D90;
}

.secondaryColor {
    color: #24AEF7;
}

.bg-primaryColor {
    background: #004D90;
}

.bg-secondaryColor {
    background: #24AEF7;
}

.border-primaryColor {
    color: #004D90;
}

.border-secondaryColor {
    color: #24AEF7;
}

.multi-gradient {
    background: rgb(235, 248, 255);
    background: linear-gradient(
            150deg,
            rgba(235, 248, 255, 1) 0%,
            rgba(255, 255, 255, 1) 10%,
            rgba(243, 237, 249, 1) 67%,
            rgba(214, 231, 255, 1) 100%
    );
}

.scrollBar::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.15);
}

.scrollBar::-webkit-scrollbar {
    width: 8px;
}

.scrollBar::-webkit-scrollbar-thumb {
    background-color: #24aef7;
    border: none;
    border-radius: 5px;
}

/* Message */
.message-item p.message-content {
    padding: 10px;
    border-radius: 0 15px 15px;
    overflow-wrap: break-word;
}

.content.me p.message-content {
    margin-left: auto;
    border-radius: 15px 0 15px 15px;
    /* background-color: #24aef7;
    color: #fff; */
}

.message-item p.message-content i.pnm-download {
    font-size: 16px;
    position: absolute;
    top: 1px;
    margin-right: 2px;
}

.message-item p.message-content span.download {
    position: relative;
}

.message-item p.message-content span.download a {
    padding-left: 20px;
}

.content.me {
    text-align: right;
    width: 100%;
}

/* .content.me p.name {
  color: #004e91;
} */
/* Message */
.all-webcam-wrapper {
    height: calc(100vh - 110px);
    display: flex;
    align-items: center;
}

.all-webcam-wrapper
.all-webcam-wrapper::-webkit-scrollbar {
    display: none;
}

.adminWebcams,
.otherWebcams {
    @apply flex flex-wrap justify-center;
}

.adminWebcams .video-camera-item {
    @apply w-[calc(25%-16px)] pb-[18%];
}

.otherWebcams.otherWebcams-less-two .video-camera-item {
    @apply w-[calc(25%-16px)] pb-[18%];
}

.hideChatPanel.hideParticipantsPanel .adminWebcams .video-camera-item {
    @apply w-[calc(16%-16px)] pb-[11.5%];
}

.hideParticipantsPanel .adminWebcams .video-camera-item {
    @apply w-[calc(20%-16px)] pb-[14.2%];
}

.hideChatPanel .adminWebcams .video-camera-item {
    @apply w-[calc(20%-16px)] pb-[14.2%];
}

.video-camera-item {
    @apply w-[calc(15%-16px)] pb-[9.5%] m-[5px] rounded-2xl overflow-hidden z-[1] bg-black;
}
.video-camera-item .loading {
    top: 50%;
    transform: translateY(-50%);
}

.hideChatPanel.hideParticipantsPanel .otherWebcams .video-camera-item {
    @apply w-[calc(12.5%-16px)] pb-[8.7%];
}

.hideParticipantsPanel .otherWebcams .video-camera-item {
    @apply w-[calc(14.28%-16px)] pb-[10.2%];
}

.hideChatPanel .otherWebcams .video-camera-item {
    @apply w-[calc(14.28%-16px)] pb-[10.2%];
}

/* #main-area.showScreenShare .all-webcam-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  height: 80px;
  padding: 0 28px;
}
#main-area.showScreenShare .all-webcam-wrapper .adminWebcams, #main-area.showScreenShare .all-webcam-wrapper .otherWebcams {
  flex-wrap: nowrap;
}
#main-area.showScreenShare .all-webcam-wrapper .video-camera-item {
  width: 80px;
  margin: 5px;
  padding-bottom: 60px;
  box-shadow: 0px 2px 5px rgba(0,0,0,0.5);
  cursor: pointer;
}
#main-area.showScreenShare .all-webcam-wrapper .video-camera-item .connection-status {
  display: none;
}
#main-area.showScreenShare .all-webcam-wrapper .video-camera-item .name {
  font-size: 12px;
  left: 5px;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0;
  transition: all 0.3s ease-in;
  height: fit-content;
}
#main-area.showScreenShare .all-webcam-wrapper .video-camera-item::after {
  background-color: rgba(0,0,0,0.5);
  transition: all 0.3s ease-in;
  opacity: 0;
}
#main-area.showScreenShare .all-webcam-wrapper .video-camera-item:hover .name {
  opacity: 1;
} */
#main-area.showScreenShare .all-webcam-wrapper .video-camera-item:hover::after {
    opacity: 1;
}

#main-area.showScreenShare .all-webcam-wrapper::-webkit-scrollbar {
    display: none;
}

#main-area.fullWidthMainArea .all-webcam-wrapper {
    position: absolute;
    width: 270px;
    height: calc(100vh - 110px);
    display: block;
    background: rgb(235, 248, 255);
    background: linear-gradient(
            150deg, rgba(235, 248, 255, 1) 0%, rgba(255, 255, 255, 1) 10%, rgba(243, 237, 249, 1) 67%, rgba(214, 231, 255, 1) 100%);
    padding: 30px 0;
    z-index: 2;
    left: 0;
}

#main-area.fullWidthMainArea .middle-fullscreen-wrapper.verticalsWebcamsActivated {
    padding-left: 260px;
}

#main-area.fullWidthMainArea.showScreenShare .all-webcam-wrapper {
    position: relative;
}

#main-area.hideParticipantsPanel.showScreenShare .all-webcam-wrapper.total-cam-0 {
    display: none;
}

/* #main-area.fullWidthMainArea .middle-area {
    display: flex;
    flex-flow: row-reverse;
} */

#main-area.fullWidthMainArea .share-screen-wrapper,
#main-area.fullWidthMainArea .middle-fullscreen-wrapper {
    flex: auto;
}

#main-area.fullWidthMainArea .all-webcam-wrapper .adminWebcams,
#main-area.fullWidthMainArea .all-webcam-wrapper .otherWebcams {
    width: 100%;
    flex-wrap: wrap;
}

#main-area.fullWidthMainArea .all-webcam-wrapper .video-camera-item {
    width: 100%;
    padding-bottom: 68%;
    box-shadow: none;
    margin: 5px 10px;
}

#main-area.fullWidthMainArea .all-webcam-wrapper .video-camera-item::after {
    background-color: transparent;
    opacity: 1;
}

#main-area.fullWidthMainArea .all-webcam-wrapper .video-camera-item .name {
    opacity: 1;
    top: auto;
    left: 0.75rem;
}

#main-area.fullWidthMainArea .all-webcam-wrapper .video-camera-item .connection-status,
#main-area.fullWidthMainArea .all-webcam-wrapper .video-camera-item .mic-status {
    display: flex;
}

#main-area.showScreenShare .all-webcam-wrapper .video-camera-item .mic-status {
    display: none;
}

.video-camera-item::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    border: 5px solid transparent;
    z-index: 999;
    border-radius: 15px;
}

.video-camera-item.speaking::before {
    border-color: #24AEF7;
}

.video-camera-item::after {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    z-index: 99;
    background: rgb(0, 0, 0);
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.1) 50%);
}

.video-camera-item .name {
    @apply absolute bottom-[10px] z-[999] text-white left-3 text-sm leading-[1];
}

.video-camera-item video.camera-video {
    @apply absolute w-full h-full z-10 rounded-2xl overflow-hidden;
}

.connection-status {
    @apply absolute z-[999] w-[18px] h-[18px] rounded-full bg-black/20 bottom-[10px] right-[40px] flex items-center justify-center;
}

.mic-status {
    @apply absolute z-[999] w-[18px] h-[18px] rounded-full bg-black/20 bottom-[10px] right-[15px] flex items-center justify-center;
}

.tooltip {
    @apply invisible absolute;
}

.has-tooltip:hover .tooltip {
    @apply visible z-50;
}

#main-footer .record {
    animation-name: pulse;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 5px 0 rgba(0, 77, 144, 0.3);
    }
    65% {
        box-shadow: 0 0 5px 13px rgb(242, 242, 242);
    }
    90% {
        box-shadow: 0 0 5px 13px rgb(242, 242, 242);
    }
}

#main-area.hideParticipantsPanel.showScreenShare .active-speakers-wrap {
    @apply pl-[280px]
}

#main-area.fullWidthMainArea .all-webcam-wrapper button.previous-cam,
#main-area.fullWidthMainArea .all-webcam-wrapper button.next-cam {
    position: absolute;
    top: 0;
    width: 100%;
    height: 32px;
    z-index: 9999;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0);
    text-align: center;
    transition: all 0.3s ease-in;
    transform: rotate(0deg);
}

#main-area.fullWidthMainArea .all-webcam-wrapper button.previous-cam i,
#main-area.fullWidthMainArea .all-webcam-wrapper button.next-cam i {
    transform: rotate(0deg);
}

#main-area.fullWidthMainArea .all-webcam-wrapper button.next-cam {
    bottom: 0;
    top: auto;
}

#main-area.fullWidthMainArea .all-webcam-wrapper button.previous-cam:hover,
#main-area.fullWidthMainArea .all-webcam-wrapper button.next-cam:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

.all-webcam-wrapper button.previous-cam i,
.all-webcam-wrapper button.next-cam i {
    width: 20px;
    margin: auto;
    transition: all 0.3s ease-in;
}

.all-webcam-wrapper button.previous-cam:hover i,
.all-webcam-wrapper button.next-cam:hover i {
    color: #fff;
}

/* .showScreenShare button.previous-cam, .showScreenShare button.next-cam {
    height: 100%;
    width: 32px;
    position: absolute;
    z-index: 9999;
    left: 0;
    transition: all 0.3s ease-in;
    display: block;
} */

/* .showScreenShare button.previous-cam i, .showScreenShare button.next-cam i {
    transform: rotate(-90deg);
} */

/* .showScreenShare button.next-cam {
    left: auto;
    right: 0;
} */

/* .showScreenShare button.previous-cam:hover, .showScreenShare button.next-cam:hover {
    background-color: rgba(0, 0, 0, 0.5);
} */

button.previous-cam, button.next-cam {
    position: absolute;
    top: 48%;
    width: 40px;
    height: 30px;
    z-index: 1;
    left: -8px;
    background-color: rgba(0, 0, 0, 0);
    text-align: center;
    transition: all 0.3s ease-in;
    transform: rotate(-90deg);
}

button.next-cam {
    left: auto;
    right: -10px;
}

button.previous-cam:hover, button.next-cam:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

.message-form {
    background: rgb(214, 231, 255);
    background: linear-gradient(0deg, rgba(214, 231, 255, 0.5) 67%, rgba(214, 231, 255, 1) 100%);
}

#main-area.isRecorder .all-webcam-wrapper {
    height: 100vh;
    position: relative;
}

.plugNmeet-app #main-area.isRecorder .all-webcam-wrapper {
    height: 100vh;
}

#main-area.hideParticipantsPanel.showScreenShare .share-screen-wrapper .screen-share-video {
    padding-bottom: calc(100vh - 210px);
}

.Toastify__toast-body {
    margin: 0;
    font-weight: 300;
}

.all-webcam-wrapper-inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0 20px;
}

/* .hideParticipantsPanel .all-webcam-wrapper-inner .video-camera-item,
.hideChatPanel .all-webcam-wrapper-inner .video-camera-item {
    width: calc(14.28% - 16px);
    padding-bottom: 10%;
} */

/* .hideChatPanel.hideParticipantsPanel .all-webcam-wrapper-inner .video-camera-item {
    width: calc(12.5% - 16px);
    padding-bottom: 9%;
} */

.all-webcam-wrapper.total-cam-1 .video-camera-item,
.all-webcam-wrapper.total-cam-26.page-2 .video-camera-item {
    width: calc(51% - 16px);
    padding-bottom: 38%;
}

/* .hideChatPanel .all-webcam-wrapper.total-cam-1 .video-camera-item,
.hideParticipantsPanel .all-webcam-wrapper.total-cam-1 .video-camera-item {
    width: calc(65% - 16px);
    padding-bottom: 48%;
} */

/* .hideParticipantsPanel.hideChatPanel .all-webcam-wrapper.total-cam-1 .video-camera-item {
    width: calc(51% - 16px);
    padding-bottom: 38%;
} */

.all-webcam-wrapper.total-cam-2 .video-camera-item,
.all-webcam-wrapper.total-cam-27.page-2 .video-camera-item {
    width: calc(45% - 16px);
    padding-bottom: 33%;
}

/* .all-webcam-wrapper.total-cam-3 .all-webcam-wrapper-inner, 
.all-webcam-wrapper.total-cam-4 .all-webcam-wrapper-inner {
    max-width: 80%;
    margin: auto;
} */
.all-webcam-wrapper.total-cam-3 .video-camera-item, 
.all-webcam-wrapper.total-cam-4 .video-camera-item,
.all-webcam-wrapper.total-cam-28.page-2 .video-camera-item,
.all-webcam-wrapper.total-cam-29.page-2 .video-camera-item {
    width: calc(38% - 10px);
    padding-bottom: 20%;
}
.all-webcam-wrapper.total-cam-5 .video-camera-item,
.all-webcam-wrapper.total-cam-6 .video-camera-item,
.all-webcam-wrapper.total-cam-30.page-2 .video-camera-item,
.all-webcam-wrapper.total-cam-31.page-2 .video-camera-item {
    width: calc(29% - 10px);
    padding-bottom: 20%;
}
.all-webcam-wrapper.total-cam-7 .video-camera-item,
.all-webcam-wrapper.total-cam-8 .video-camera-item,
.all-webcam-wrapper.total-cam-32.page-2 .video-camera-item,
.all-webcam-wrapper.total-cam-33.page-2 .video-camera-item {
    width: calc(25% - 16px);
    padding-bottom: 18%;
}
.all-webcam-wrapper.total-cam-9 .video-camera-item,
.all-webcam-wrapper.total-cam-10 .video-camera-item,
.all-webcam-wrapper.total-cam-11 .video-camera-item,
.all-webcam-wrapper.total-cam-12 .video-camera-item,
.all-webcam-wrapper.total-cam-34.page-2 .video-camera-item,
.all-webcam-wrapper.total-cam-35.page-2 .video-camera-item,
.all-webcam-wrapper.total-cam-36.page-2 .video-camera-item,
.all-webcam-wrapper.total-cam-37.page-2 .video-camera-item {
    width: calc(22% - 16px);
    padding-bottom: 13%;
}
.all-webcam-wrapper.total-cam-13 .video-camera-item,
.all-webcam-wrapper.total-cam-14 .video-camera-item,
.all-webcam-wrapper.total-cam-15 .video-camera-item,
.all-webcam-wrapper.total-cam-38.page-2 .video-camera-item,
.all-webcam-wrapper.total-cam-39.page-2 .video-camera-item,
.all-webcam-wrapper.total-cam-40.page-2 .video-camera-item {
    width: calc(20% - 16px);
    padding-bottom: 13%;
}
.all-webcam-wrapper.total-cam-16 .video-camera-item,
.all-webcam-wrapper.total-cam-17 .video-camera-item,
.all-webcam-wrapper.total-cam-18 .video-camera-item,
.all-webcam-wrapper.total-cam-41.page-2 .video-camera-item,
.all-webcam-wrapper.total-cam-42.page-2 .video-camera-item,
.all-webcam-wrapper.total-cam-43.page-2 .video-camera-item {
    @apply w-[calc(16.66%-16px)] pb-[12%];
}

/* .hideParticipantsPanel.hideChatPanel .all-webcam-wrapper.total-cam-3 .video-camera-item,
.hideParticipantsPanel.hideChatPanel .all-webcam-wrapper.total-cam-4 .video-camera-item,
.hideParticipantsPanel.hideChatPanel .all-webcam-wrapper.total-cam-5 .video-camera-item,
.hideParticipantsPanel.hideChatPanel .all-webcam-wrapper.total-cam-6 .video-camera-item {
    width: calc(26% - 16px);
    padding-bottom: 19%;
} */

/* .all-webcam-wrapper.total-cam-7 .video-camera-item,
.all-webcam-wrapper.total-cam-8 .video-camera-item {
    width: calc(25% - 16px);
    padding-bottom: 18%;
} */

/* .hideChatPanel .all-webcam-wrapper.total-cam-7 .video-camera-item,
.hideChatPanel .all-webcam-wrapper.total-cam-8 .video-camera-item,
.hideParticipantsPanel .all-webcam-wrapper.total-cam-7 .video-camera-item,
.hideParticipantsPanel .all-webcam-wrapper.total-cam-8 .video-camera-item {
    width: calc(20% - 16px);
    padding-bottom: 14%;
} */

.all-webcam-wrapper-inner .video-camera-item.admin {
    order: 1;
}

.all-webcam-wrapper-inner .video-camera-item.participants {
    order: 2;
}

.all-webcam-wrapper-inner .video-camera-item.admin.speaking::before {
    border-color: #004E91;
}

/* .all-webcam-wrapper-inner .video-camera-item.admin::before {
  border-color: #004E91;
} */
#main-area.fullWidthMainArea .all-webcam-wrapper .all-webcam-wrapper-inner {
    /* margin: 30px 0; */
    padding: 0;
}

.content.me p.message-content a {
    text-decoration: underline;
}

.all-MessageModule-wrap .message-item .system p.message-content {
    /* background-color: #004E91;
    color: #fff; */
    font-size: 14px;
    line-height: 20px;
}

.share-screen-wrapper.is-share-screen-running {
    display: flex;
}

.share-screen-wrapper.is-share-screen-running .screen-share-video {
    flex: 1;
    padding-bottom: calc(100vh - 110px) !important;
    padding-left: 25px;
}

.share-screen-wrapper.is-share-screen-running .screen-share-video video.video-player {
    width: calc(100% - 50px);
    height: calc(100% - 50px);
    top: 25px;
}

.Toastify__toast-container {
    z-index: 999999;
}

.footer-podcast-button .lds-ripple {
    position: absolute;
    width: 30px;
    height: 30px;
    left: 8px;
}

.footer-podcast-button {
    position: relative;
}

.footer-podcast-button .lds-ripple div {
    border: 2px solid rgb(0, 77, 144);
    -webkit-animation: lds-ripple2 .8s cubic-bezier(0, 0.2, 0.8, 1) infinite;
    animation: lds-ripple2 .8s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.footer-podcast-button .lds-ripple div:last-child {
    -webkit-animation-delay: -0.3s;
    animation-delay: -0.3s;
}

@keyframes lds-ripple2 {
    0% {
        top: 16px;
        left: 16px;
        width: 0;
        height: 0;
        opacity: 1;
    }
    100% {
        top: 0;
        left: 0;
        width: 30px;
        height: 30px;
        opacity: 0;
    }
}


#main-area.hideParticipantsPanel.showSharedNotepad .middle-fullscreen-wrapper,
#main-area.hideParticipantsPanel.showWhiteboard .middle-fullscreen-wrapper {
    display: flex;
    position: relative;
}

/* #main-area.hideParticipantsPanel.showSharedNotepad .all-webcam-wrapper,
#main-area.hideParticipantsPanel.showWhiteboard .all-webcam-wrapper {
    position: relative;
    width: 250px;
    height: calc(100vh - 110px);
    display: block;
    background: rgb(235, 248, 255);
    background: linear-gradient(150deg, rgba(235, 248, 255, 1) 0%, rgba(255, 255, 255, 1) 10%, rgba(243, 237, 249, 1) 67%, rgba(214, 231, 255, 1) 100%);
    padding: 0;
} */

/* #main-area.hideParticipantsPanel.showSharedNotepad .all-webcam-wrapper .all-webcam-wrapper-inner,
#main-area.hideParticipantsPanel.showWhiteboard .all-webcam-wrapper .all-webcam-wrapper-inner {
    margin: 30px 0;
    padding: 0;
} */

/* #main-area.hideParticipantsPanel.showSharedNotepad .all-webcam-wrapper .video-camera-item,
#main-area.hideParticipantsPanel.showWhiteboard .all-webcam-wrapper .video-camera-item {
    width: 100%;
    padding-bottom: 68%;
    box-shadow: none;
    margin: 5px 10px;
} */

.transition-left-panel {
    position: absolute;
    height: 100%;
    box-shadow: 0 0 10px -7px rgb(0, 0, 0);
    z-index: 3;
}

.transition-right-panel {
    position: absolute;
    right: 0;
    height: 100%;
    box-shadow: 0 0 10px -7px rgb(0, 0, 0);
    z-index: 2;
}

.media-player-inner {
    position: relative;
    width: 100% !important;
    height: inherit !important;
}

.media-player-inner > div {
    width: 100% !important;
    height: inherit !important;
}

.media-player-inner > div > div {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
}

.media-player-inner iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}

#main-area.fullWidthMainArea.isRecorder .middle-fullscreen-wrapper.verticalsWebcamsActivated {
    padding-left: 0;
}

.isRecorder .transition-right-panel {
    position: relative;
}

.isRecorder.showScreenShare .middle-area {
    display: flex;
    align-items: center;
    justify-content: center;
}
.fullWidthMainArea .select-camera-number {
    display: none;
}
.select-camera-number {
    display: flex;
    align-items: center;
    position: absolute;
    right: 5px;
    font-size: 12px;
    top: 5px;
}
.select-camera-number select#select-camera-num {
    background-color: transparent;
    border: 1px solid #333;
    margin-left: 5px;
    outline: none;
}
.volume-popup-wrapper .range {
    -webkit-appearance: none;
    vertical-align: middle;
    outline: none;
    border: none;
    padding: 0;
    background: none;
}
.volume-popup-wrapper .range::-webkit-slider-runnable-track {
    background-color: rgba(128, 128, 128, 0.5);
    height: 10px;
    border-radius: 5px;
    border: 1px solid transparent;
}
.volume-popup-wrapper .range::-moz-range-track {
    background-color: rgba(128, 128, 128, 0.5);
    height: 10px;
    border-radius: 5px;
    border: none;
}
.volume-popup-wrapper .range::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    border-radius: 100%;
    background-color: #0d6efd;
    height: 18px;
    width: 18px;
    margin-top: -5px;
}
.volume-popup-wrapper .range::-moz-range-thumb {
    border-radius: 20px;
    height: 18px;
    width: 18px;
    border: none;
    background: none;
    background-color: #0d6efd;
}
.volume-popup-wrapper .range:active::-webkit-slider-thumb {
    outline: none;
}
.volume-popup-wrapper .range:active::-moz-range-thumb {
    outline: none;
}
  

@media screen and (max-width: 1279px) {
    .all-MessageModule-wrap .message-item .system p.message-content {
        font-size: 12px;
        line-height: 16px;
    }

    #main-area.fullWidthMainArea .all-webcam-wrapper {
        width: 200px;
    }

    #main-area.fullWidthMainArea .middle-fullscreen-wrapper.verticalsWebcamsActivated {
        padding-left: 200px;
    }
}

@media screen and (max-width: 1023px) {
    .transition-left-panel {
        position: absolute;
        height: 100%;
        z-index: 9999;
    }

    .transition-right-panel {
        position: absolute;
        height: 100%;
        right: 0;
        z-index: 9999;
    }

    .transition-right-panel .message-form {
        position: absolute;
    }

    .transition-right-panel .messageModule-wrapper {
        height: calc(100% - 72px);
    }

    #main-area .all-webcam-wrapper.total-cam-1 .video-camera-item {
        width: calc(80% - 16px);
        padding-bottom: 58%;
    }

    #main-area .all-webcam-wrapper .video-camera-item {
        width: calc(33.33% - 16px);
        padding-bottom: 23.5%;
    }

    #main-area .share-screen-wrapper.is-share-screen-running .all-webcam-wrapper,
    #main-area.fullWidthMainArea .middle-fullscreen-wrapper .all-webcam-wrapper {
        position: absolute;
        height: auto;
        width: 100%;
        z-index: 9;
        padding: 0;
        bottom: -5px;
    }

    #main-area.fullWidthMainArea .middle-fullscreen-wrapper .all-webcam-wrapper {
        bottom: 0;
        padding-top: 0;
    }

    .share-screen-wrapper.is-share-screen-running {
        position: relative;
    }

    #main-area .share-screen-wrapper.is-share-screen-running .all-webcam-wrapper .all-webcam-wrapper-inner,
    #main-area.fullWidthMainArea .middle-fullscreen-wrapper .all-webcam-wrapper .all-webcam-wrapper-inner {
        margin: 0;
        padding: 0 5px;
        flex-wrap: nowrap;
    }

    #main-area .share-screen-wrapper.is-share-screen-running .all-webcam-wrapper .all-webcam-wrapper-inner .video-camera-item,
    #main-area.fullWidthMainArea .middle-fullscreen-wrapper .all-webcam-wrapper .all-webcam-wrapper-inner .video-camera-item {
        width: 100%;
        margin: 5px;
        height: 90px;
        padding-bottom: 0;
        max-width: 105px;
    }

    /* #main-area.hideParticipantsPanel.showSharedNotepad .middle-fullscreen-wrapper .notepad-wrapper {
      height: calc(100% - 87px);
    } */
    .share-screen-wrapper.is-share-screen-running .screen-share-video {
        padding-left: 15px;
    }

    .share-screen-wrapper.is-share-screen-running .screen-share-video video.video-player {
        width: calc(100% - 30px);
        height: calc(100% - 85px);
        top: 0;
    }

    .share-screen-wrapper.is-share-screen-running .screen-share-video button {
        bottom: 155px;
        position: fixed;
    }

    .Toastify__toast-container .Toastify__toast-body {
        padding: 0;
    }

    .Toastify__toast-container .Toastify__toast {
        min-height: 40px;
        font-size: 14px;
    }

    #main-area.hideParticipantsPanel.showScreenShare .active-speakers-wrap {
        padding: 0;
        flex-wrap: wrap;
    }

    #main-area.hideParticipantsPanel.showScreenShare .active-speakers-wrap div {
        font-size: 10px;
    }

    #main-area.hideParticipantsPanel.showScreenShare .active-speakers-wrap div i {
        font-size: 7px;
    }

    #main-area .share-screen-wrapper.is-share-screen-running .all-webcam-wrapper .all-webcam-wrapper-inner .video-camera-item .connection-status {
        display: none;
    }

    #main-area .share-screen-wrapper.is-share-screen-running .all-webcam-wrapper .all-webcam-wrapper-inner .video-camera-item .mic-status {
        display: none;
    }

    #main-area .share-screen-wrapper.is-share-screen-running .all-webcam-wrapper .all-webcam-wrapper-inner .video-camera-item .name {
        font-size: 12px;
        left: 5px;
    }

    #main-area .share-screen-wrapper.is-share-screen-running .all-webcam-wrapper .all-webcam-wrapper-inner .video-camera-item .camera-video-player button {
        right: 0;
        top: 3px
    }

    #main-right-panel {
        background: rgb(235, 248, 255);
        background: linear-gradient(150deg, rgba(235, 248, 255, 1) 0%, rgba(255, 255, 255, 1) 10%, rgba(243, 237, 249, 1) 67%, rgba(214, 231, 255, 1) 100%);
    }

    #main-area.fullWidthMainArea .all-webcam-wrapper-inner button.next-cam {
        right: -5px;
        width: 25px;
        left: auto;
        height: 25px;
        top: 40%;
        transform: rotate(-90deg);
    }

    #main-area.fullWidthMainArea .all-webcam-wrapper .all-webcam-wrapper-inner button i {
        color: #000;
    }

    #main-area.fullWidthMainArea .all-webcam-wrapper .all-webcam-wrapper-inner button:hover {
        background-color: transparent;
    }

    #main-area.fullWidthMainArea .all-webcam-wrapper .all-webcam-wrapper-inner button.previous-cam {
        right: auto;
        width: 25px;
        left: -5px;
        height: 25px;
        top: 40%;
        transform: rotate(-90deg);
    }

    .plugNmeet-app header#main-header {
        position: fixed;
        top: 0;
        width: 100%;
    }

    .plugNmeet-app {
        position: relative;
        height: 100vh;
    }

    .plugNmeet-app footer#main-footer {
        position: fixed;
        width: 100%;
        background-color: #fff;
        bottom: 0;
        z-index: 99999;
    }

    .plugNmeet-app #main-area {
        position: fixed;
        width: 100%;
        height: calc(100% - 105px) !important;
        top: 50px;
    }

    #main-area.fullWidthMainArea .middle-fullscreen-wrapper.verticalsWebcamsActivated {
        padding-left: 0;
    }
}

@media screen and (max-width: 767px) {
    #main-area .all-webcam-wrapper .video-camera-item {
        width: calc(50% - 16px);
        padding-bottom: 36.5%;
    }

    .transition-right-panel .messageModule-wrapper,
    .transition-right-panel,
    .transition-right-panel .message-form,
    .transition-left-panel,
    .transition-left-panel #main-left-panel {
        width: 100%;
    }

    .is-mobile.portrait-device #main-area {
        height: calc(100vh - 180px);
    }

    .landscape-device.is-mobile #main-area .all-webcam-wrapper .video-camera-item {
        padding-bottom: 16%;
        width: calc(26% - 16px);
    }

    .message-form .btns {
        width: 70px;
        padding: 5px 0;
    }

    .message-form .btns button {
        width: 50px;
        margin-bottom: 10px;
    }

    .message-form .btns button i {
        font-size: 18px;
    }

    #main-area .all-webcam-wrapper.total-cam-2 .video-camera-item, #main-area .all-webcam-wrapper.total-cam-1 .video-camera-item {
        width: calc(100% - 16px);
        padding-bottom: 60%;
    }

    #main-area .all-webcam-wrapper.total-cam-3 .video-camera-item {
        width: calc(85% - 16px);
        padding-bottom: 46%;
    }

    .all-webcam-wrapper-inner {
        padding: 0 5px;
    }
}

@media screen and (min-width: 641px) {
    .preview-camera-webcam video, .preview-camera-webcam canvas {
        min-height: 240px;
    }
}

@media screen and (max-width: 640px) {
    header#main-header {
        flex-wrap: wrap;
    }

    header#main-header .logo, header#main-header .dark {
        width: 50%;
        order: 1;
    }

    header#main-header .dark {
        height: 20px;
    }

    header#main-header .middle {
        width: 100%;
        order: 2;
        margin-top: -10px;
    }

    header#main-header .middle h2 {
        font-size: 14px;
        word-break: break-all;
    }

    .admin footer#main-footer .footer-icon {
        height: 30px;
        width: 30px;
    }
}

@media screen and (max-width: 640px) {
    .admin footer#main-footer .footer-icon {
        height: 25px;
        width: 25px;
    }

    .header-logo {
        height: 30px;
    }
}

@media screen and (max-width: 575px) {
    #main-area .share-screen-wrapper.is-share-screen-running .all-webcam-wrapper .all-webcam-wrapper-inner .video-camera-item {
        width: calc(32.5% - 10px);
        max-width: 100%;
    }
}

@media screen and (max-width: 370px) {
    .video-camera-item .name {
        font-size: 10px;
    }

    header#main-header .middle h2 {
        font-size: 12px;
    }

    .active-speakers-wrap div {
        font-size: 10px;
        padding: 0 5px;
    }

    .active-speakers-wrap div i {
        font-size: 8px;
    }
}
