/* @media screen and (max-width: 1279px) {
  .all-MessageModule-wrap .message-item .system p.message-content {
    @apply text-sm leading-[16px];
  }
  .showChatPanel .screen-share-video button {
    @apply right-[250px];
  }
} */
