/* @media screen and (max-width: 1023px) {
  .transition-left-panel {
    @apply absolute h-full z-9999;
  }
  .transition-right-panel {
    position: absolute;
    height: 100%;
    right: 0;
    z-index: 9999;
  }
  #main-area.fullWidthMainArea .middle-fullscreen-wrapper .all-webcam-wrapper {
    @apply absolute h-auto w-full z-9 p-0 bottom-0 pt-0;
  }
  #main-area.fullWidthMainArea
    .middle-fullscreen-wrapper
    .all-webcam-wrapper
    .all-webcam-wrapper-inner {
    @apply m-0 py-0 px-[15px] flex-wrap gap-0;
  }
  #main-area.fullWidthMainArea
    .middle-fullscreen-wrapper
    .all-webcam-wrapper
    .all-webcam-wrapper-inner
    .video-camera-item {
    @apply w-full m-[5px] h-[100px] pb-0 max-w-[150px];
  }
  #main-area.fullWidthMainArea
    .middle-fullscreen-wrapper
    .all-webcam-wrapper
    .all-webcam-wrapper-inner
    .video-camera-item
    .connection-status {
    @apply hidden;
  }
  #main-area.fullWidthMainArea
    .middle-fullscreen-wrapper
    .all-webcam-wrapper
    .all-webcam-wrapper-inner
    .video-camera-item
    .mic-status {
    @apply hidden;
  }
  #main-area.fullWidthMainArea
    .middle-fullscreen-wrapper
    .all-webcam-wrapper
    .all-webcam-wrapper-inner
    .video-camera-item
    .name {
    @apply text-xs left-[5px];
  }
  #main-area.fullWidthMainArea
    .middle-fullscreen-wrapper
    .all-webcam-wrapper
    .all-webcam-wrapper-inner
    .video-camera-item
    .camera-video-player
    button {
    @apply right-0 top-0;
  }
  #main-area.fullWidthMainArea
    .middle-fullscreen-wrapper
    .all-webcam-wrapper
    .all-webcam-wrapper-inner
    .video-camera-item
    .status.PinWebcam {
    @apply left-0 top-0;
  }
  #main-area.fullWidthMainArea
    .all-webcam-wrapper.vertical-webcams
    .all-webcam-wrapper-inner {
    display: flex !important;
    @apply justify-center flex-nowrap;
  }
  #main-area.fullWidthMainArea
    .all-webcam-wrapper
    .all-webcam-wrapper-inner
    button.next-cam {
    @apply -right-[42px] w-[100px] left-auto h-5 top-[45px] -rotate-90;
  }
  #main-area.fullWidthMainArea
    .all-webcam-wrapper
    .all-webcam-wrapper-inner
    button.previous-cam {
    @apply right-auto w-[100px] -left-[42px] h-5 top-[45px] -rotate-90;
  }
  #main-area.fullWidthMainArea
    .middle-fullscreen-wrapper.verticalsWebcamsActivated {
    @apply pl-0;
  }
  #main-area.fullWidthMainArea
    .middle-fullscreen-wrapper.verticalsWebcamsActivated
    .screen-share-video
    button {
    @apply bottom-[165px];
  }
  .share-screen-wrapper.is-share-screen-running .screen-share-video button {
    @apply fixed bottom-[55px];
  }
  .Toastify__toast-container .Toastify__toast-body {
    @apply p-0;
  }
  .Toastify__toast-container .Toastify__toast {
    @apply min-h-[40px] text-sm;
  }
  #main-area.hideParticipantsPanel.showScreenShare .active-speakers-wrap {
    @apply p-0 flex-wrap;
  }
  #main-area.hideParticipantsPanel.showScreenShare .active-speakers-wrap div {
    @apply text-[10px];
  }
  #main-area.hideParticipantsPanel.showScreenShare .active-speakers-wrap div i {
    @apply text-[7px];
  }
  .pin-webcam {
    @apply hidden;
  }
  #main-right-panel {
    background: rgb(235, 248, 255);
    background: linear-gradient(
      150deg,
      rgb(235, 248, 255) 0%,
      rgb(255, 255, 255) 10%,
      rgb(243, 237, 249) 67%,
      rgb(214, 231, 255) 100%
    );
  }
  .dark #main-right-panel {
    background: #001222;
  }
  .plugNmeet-app {
    @apply relative h-screen;
  }
  .plugNmeet-app header#main-header {
    @apply fixed top-0 w-full;
  }
  .plugNmeet-app footer#main-footer {
    @apply fixed w-full bottom-0 z-99999;
  }
  .plugNmeet-app #main-area {
    height: calc(100% - 105px) !important;
    @apply fixed w-full top-[50px];
  }
  .plugNmeet-app #main-area.isRecorder {
    height: 100% !important;
    @apply top-0;
  }
  .landscape-device.is-mobile
    #main-area.fullWidthMainArea
    .middle-fullscreen-wrapper.verticalsWebcamsActivated {
    @apply pl-[140px];
  }
  .private-m-tab {
    @apply w-[calc(100vh-180px)];
  }
  .excalidraw-wrapper {
    @apply mt-2 h-[calc(100%-20px)];
  }
  body
    #plugNmeet-app
    .excalidraw-wrapper
    .excalidraw
    button.scroll-back-to-content {
    bottom: 35px !important;
  }
} */
