@media screen and (max-width: 1025px) and (min-width: 641px) {
  .camera-row-1.total-items-5.inner-items-2 {
    .video-camera-item {
      width: 50% !important;
    }
  }
  .camera-row-2.total-items-5.inner-items-1 {
    .video-camera-item {
      @apply w-1/2;
    }
  }
  .camera-row-1.total-items-7.inner-items-3 {
    .video-camera-item {
      width: 50% !important;
    }
  }
  .camera-row-2.total-items-7.inner-items-1 {
    .video-camera-item {
      @apply w-1/3;
    }
  }
  .camera-row-2.total-items-8.inner-items-2 {
    .video-camera-item {
      @apply w-1/3;
    }
  }
  .camera-row-2.total-items-9.inner-items-3 {
    .video-camera-item {
      @apply w-1/3;
    }
  }
}
