:root {
  --primary-color: #24aef7;
  --primary-color-hover: rgba(0, 69, 131);
  --danger-color: rgba(220, 38, 38);
  --text-color-light: #fff;
  --border-color: rgba(0, 0, 0, 0.2);
  --background-color-light: rgba(0, 0, 0, 0.03);
  --background-color-hover: rgba(0, 0, 0, 0.05);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.plugnmeet-lti {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 0;
}

.container {
  width: 100%;
  max-width: 1280px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}

.column {
  margin: 15px;
  border: 1px solid rgb(0 0 0 / 15%);
  box-shadow: 0 4px 52px rgb(0 0 0 / 15%);
  border-radius: 10px;
  padding: 20px;
}

.column-full {
  width: calc(100% - 30px);
}

h1.headline {
  margin: 0;
  font-size: 20px;
}

.br {
  width: 100%;
  border-top: 1px solid #000;
  position: relative;
  margin: 15px 0;
}

.br .br-inner {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 45px;
  height: 30px;
  background-color: #fff;
  top: -15px;
}

.br::before,
.br::after {
  left: 51%;
  position: absolute;
  content: '';
  width: 1px;
  height: 25px;
  background-color: #000;
  transform: rotate(15deg);
  top: -13px;
  z-index: 9;
}

.br::after {
  left: 49%;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table-head {
  border-top: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
}

.table-head th {
  padding: 10px;
  text-align: left;
}

.table-head th,
.table-item td {
  width: 25%;
}

.recording-table {
  padding: 15px 0;
}

.table-item {
  background-color: var(--background-color-light);
  transition: all 0.3s ease-in;
  cursor: pointer;
}

.table-item td {
  padding: 15px 10px;
}

.table-item:hover {
  background-color: var(--background-color-hover);
}

.table-item .action button {
  font-size: 16px;
  text-decoration: none;
  display: inline-block;
  padding: 7px 15px;
  color: var(--text-color-light);
  border-radius: 5px;
  transition: all 0.3s ease-in;
  border: none;
  cursor: pointer;
}

.table-item .action .download {
  background-color: var(--primary-color);
  margin-right: 10px;
}

.table-item .action .delete {
  background-color: var(--danger-color);
}

.table-item .action .download:hover {
  background-color: var(--primary-color-hover);
}

.pagination {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  list-style: none;
  margin-bottom: 30px;
  padding-right: 35px;
}

.pagination button {
  display: inline-flex;
  height: 28px;
  width: auto;
  padding: 0 10px;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--primary-color);
  margin-left: 5px;
  border-radius: 5px;
  font-size: 14px;
  transition: all 0.3s ease-in;
  cursor: pointer;
  background-color: transparent;
}

.pagination button:hover,
.pagination button.active {
  background-color: var(--primary-color-hover);
  color: var(--text-color-light);
}

.pagination button:disabled {
  background-color: #c7ddf3;
  color: #171616;
  cursor: default;
  border: none;
}

.join-area button {
  font-size: 16px;
  text-decoration: none;
  display: inline-block;
  padding: 7px 40px;
  color: var(--text-color-light);
  border-radius: 5px;
  transition: all 0.3s ease-in;
  border: none;
  cursor: pointer;
}

.join-area {
  margin: 15px;
  border: 1px solid rgb(0 0 0 / 15%);
  box-shadow: 0 4px 52px rgb(0 0 0 / 15%);
  border-radius: 10px;
  padding: 20px;
  width: calc(100% - 30px);
}

.join-area .join {
  background-color: var(--primary-color);
  margin-right: 10px;
}

.join-area .end {
  background-color: var(--danger-color);
}

.join-area .join:hover {
  background-color: var(--primary-color-hover);
}

#error-container {
  width: calc(100% - 30px);
  margin: 0 15px 15px;
  padding: 15px;
  background-color: #f8d7da;
  color: #721c24;
  border: 1px solid #f5c6cb;
  border-radius: 5px;
  font-size: 14px;
}

@media screen and (max-width: 1023px) {
  .table-item .action button {
    font-size: 12px;
  }

  .table-head th,
  .table-item td {
    font-size: 14px;
  }
}

@media screen and (max-width: 767px) {
  .br {
    margin: 10px 0;
  }

  .br::before,
  .br::after {
    height: 15px;
    top: -8px;
  }

  .column {
    padding: 15px;
  }

  h1.headline {
    font-size: 18px;
  }

  .recording-table {
    overflow-x: auto;
  }

  .recording-table .table-inner {
    width: 689px;
  }
}
