/* @media screen and (max-width: 640px) {
  header#main-header {
    @apply flex-wrap;
  }
  header#main-header .logo {
    @apply w-1/2 order-1;
  }
  header#main-header .dark-area {
    @apply w-1/2 order-1 h-5;
  }
  header#main-header .middle {
    @apply w-full order-2 -mt-[10px];
  }
  header#main-header .middle h2 {
    @apply text-sm break-all;
  }
  footer#main-footer .footer-icon {
    @apply mr-[5px];
  }
  footer#main-footer .whiteboard {
    @apply mr-[5px];
  }
  footer#main-footer .shared-notepad {
    @apply mr-[5px];
  }
  .excalidraw-wrapper .excalidraw .Stack_horizontal {
    display: flex !important;
    flex-wrap: wrap;
    justify-content: center !important;
  }
  .header-logo {
    @apply h-[30px];
  }
  .all-webcam-wrapper .all-webcam-wrapper-inner .camera-row-0.total-items-2 {
    @apply flex-wrap;
  }
  .all-webcam-wrapper
    .all-webcam-wrapper-inner
    .camera-row-0.total-items-2
    .video-camera-item {
    @apply w-full h-1/2;
  }
  .all-webcam-wrapper .all-webcam-wrapper-inner .camera-row-0.total-items-3 {
    @apply flex-wrap;
  }
  .all-webcam-wrapper
    .all-webcam-wrapper-inner
    .camera-row-0.total-items-3
    .video-camera-item {
    @apply w-full h-1/3;
  }
  .all-webcam-wrapper
    .all-webcam-wrapper-inner
    .camera-row-0.total-items-4.inner-items-2 {
    @apply flex-nowrap;
  }
  .all-webcam-wrapper
    .all-webcam-wrapper-inner
    .camera-row-0.total-items-4.inner-items-2
    .video-camera-item {
    @apply w-1/2 h-full;
  }
  .all-webcam-wrapper
    .all-webcam-wrapper-inner
    .camera-row-0.total-items-5.inner-items-2 {
    @apply flex-nowrap;
  }
  .all-webcam-wrapper
    .all-webcam-wrapper-inner
    .camera-row-0.total-items-5.inner-items-2
    .video-camera-item {
    @apply w-1/2 h-full;
  }
  .all-webcam-wrapper
    .all-webcam-wrapper-inner
    .camera-row-1.total-items-5.inner-items-2
    .video-camera-item {
    @apply w-1/2;
  }
  .all-webcam-wrapper
    .all-webcam-wrapper-inner
    .camera-row-2.total-items-5.inner-items-1
    .video-camera-item {
    @apply w-1/2;
  }
  .all-webcam-wrapper
    .all-webcam-wrapper-inner
    .camera-row-2.total-items-6.inner-items-1
    .video-camera-item {
    @apply w-1/2;
  }
  .all-webcam-wrapper
    .all-webcam-wrapper-inner
    .camera-row-0.total-items-6.inner-items-2 {
    @apply flex-nowrap;
  }
  .all-webcam-wrapper
    .all-webcam-wrapper-inner
    .camera-row-0.total-items-6.inner-items-2
    .video-camera-item {
    @apply w-1/2 h-full;
  }
} */
