name: Nightly build to test
on:
  push:
    branches:
      - 'Design-2.0'
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: setup node
        uses: actions/setup-node@v5
        with:
          node-version: "lts/*"
      - uses: pnpm/action-setup@v4
        name: Install pnpm
        with:
          version: latest
      - name: Install dependencies
        run: pnpm install
      - name: Check lint
        run: pnpm run lint:check
      - name: Check format
        run: pnpm run format:check
      - name: Build project
        run: |
          pnpm run build
          timestamp=$(date +%s)
          echo "dev-${timestamp}" > dist/version.txt
          mkdir -p tmp/client
          rsync -ar LICENSE dist tmp/client/
          cd tmp
          zip -X -r client.zip client
          cp -f client.zip client/dist/
      - name: Upload by ftp
        uses: SamKirkland/FTP-Deploy-Action@v4.3.6
        with:
          server: ${{ secrets.PNM_FTP_HOST }}
          username: ${{ secrets.PNM_FTP_USER }}
          password: ${{ secrets.PNM_FTP_PASSWORD }}
          local-dir: "./tmp/client/dist/"
          server-dir: "./design-v2/"
          state-name: ".v2-sync-state.json"
