name: Build and release client
on:
  push:
    branches:
      - main

permissions:
  contents: write
  pull-requests: write

jobs:
  release-please:
    runs-on: ubuntu-latest
    steps:
      - uses: googleapis/release-please-action@v4
        id: release
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          release-type: node
      - name: Checkout
        if: ${{ steps.release.outputs.release_created }}
        uses: actions/checkout@v4
      - name: setup node
        if: ${{ steps.release.outputs.release_created }}
        uses: actions/setup-node@v4
        with:
          node-version: "20.x"
      - uses: pnpm/action-setup@v4
        if: ${{ steps.release.outputs.release_created }}
        name: Install pnpm
        with:
          version: 9
      - name: Build project
        if: ${{ steps.release.outputs.release_created }}
        run: |
          pnpm install
          pnpm run build

          ## save latest version tag
          TAG_NAME=$(curl -sL https://api.github.com/repos/mynaparrot/plugNmeet-client/releases/latest | jq -r ".tag_name")
          echo $TAG_NAME > dist/version.txt

          mkdir -p tmp/client
          rsync -ar LICENSE dist tmp/client/
          cd tmp
          zip -X -r client.zip client
      - name: Upload artifact
        if: ${{ steps.release.outputs.release_created }}
        uses: actions/upload-artifact@v4
        with:
          name: upload client
          path: tmp/client.zip
      - name: Upload to release
        if: ${{ steps.release.outputs.release_created }}
        uses: JasonEtco/upload-to-release@master
        with:
          args: tmp/client.zip application/zip
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
